body {
    font-family: 'Montserrat Light', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #01416d;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 50px;
}

.policy-container {
    background-color: #149bd7;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.suggest-container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    color: #01416d;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #01416d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #012d4a;
}

#resultBox {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#keywordsList, #avoidList {
    margin-top: 20px;
    text-align: left;
}

#keywordsList ul, #avoidList ul {
    list-style-type: none;
    padding: 0;
}

#keywordsList h3, #avoidList h3 {
    font-weight: bold;
    color: #01416d;
    text-align: left;
}

#avoidList h3 {
    color: red;
    text-align: left;
}

#keywordsList li, #avoidList li {
    font-weight: bold;
    margin-bottom: 5px;
}

.lists-container {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.list {
    width: 50%;
    padding: 0 10px;
}

.policy-container, .container, .suggest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.policy-container input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.policy-container .result-box {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
}

.suggestions-box {
    border: 1px solid #ddd;
    max-height: 100px;
    overflow-y: auto;
    width: calc(100% - 22px);
    text-align: left;
}
